.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
packages/**
shared/**
.gitignore
.yarnrc
.npmrc
pnpm-workspace.yaml
vsc-extension-quickstart.md
**/tsconfig.json
**/vite.config.ts
**/vitest.config.ts
**/*.map
**/*.ts
**/.vscode-test.*
CHANGELOG.md
biome.json
